* {
    margin: 0;
    padding: 0;
}

.form-signin {
    width: 500px;
    margin: 12% auto;
    padding: 50px 50px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 40px;
}

.input-box {
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 5px;
}

.input-box input {
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #000;
}

::placeholder {
    color: #ccc;
}

.fa {
    margin-right: 10px;
}

.footer {
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.block {
    border: 2px solid black;
    background-color: white;
}

.bgcolore {
    background-color: #f6faff;
}

.btnright {
    position: absolute;
    right: 40px;
}

.formStyle {
    width: 250px;
}

.row {
    margin-right: 0px !important;
}

.height-img {
    height: 125px;
}

.btn-color {
    /* border-color: #28a745 !important; */
    outline: none !important;
    border: none !important;
}